// Colores ----------------------------------->>>
$bgHeader: #FFE600;
$title: #333333;
$colorText: #666666;;
$placeholder: #999999;
$bgButton: #3483FA;
$bgButtonHover: #2F75E0;
$bgColor: #EEEEEE;
$bgInput: #FFFFFF;
$bgAlerts: rgba(0, 0, 0, 0.3);
$bgShadow: rgba(196, 196, 196, 0.35);

// Fonts ------------------------------------->>>
$RobotoFont: 'Roboto';
$RobotoBoldFont: 'RobotoBold';
$RobotoBlackFont: 'RobotoBlack';
$RobotoMediumFont: 'RobotoMedium';
$RobotoMediumItalicFont: 'RobotoMediumItalic';
$RobotoLightFont: 'RobotoLight';
$RobotoLightItalicFont: 'RobotoLightItalic';
$RobotoItalicFont: 'RobotoItalic';